
    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      padding-bottom: 40px;
      color: #5a5a5a;
	  font-family: 'OpenSansRegular', Arial, sans-serif;
    }
	
	h1 { font-size:32px; margin-bottom:40px;}
	
	h2 {margin-bottom:35px;}
	
	/* FONTS
    -------------------------------------------------- */

@font-face {
    font-family: 'OpenSansLight';
    src: url('fonts/OpenSans-Light-webfont.eot');
    src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansLightItalic';
    src: url('fonts/OpenSans-LightItalic-webfont.eot');
    src: url('fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('fonts/OpenSans-Italic-webfont.eot');
    src: url('fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('fonts/OpenSans-Semibold-webfont.eot');
    src: url('fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemiboldItalic';
    src: url('fonts/OpenSans-SemiboldItalic-webfont.eot');
    src: url('fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBold';
    src: url('fonts/OpenSans-Bold-webfont.eot');
    src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBoldItalic';
    src: url('fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansExtrabold';
    src: url('fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansExtraboldItalic';
    src: url('fonts/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

.strong {font-family: 'OpenSansBold',Arial,sans-serif;}

.black { color:#000;}

.sml { font-size:10px;}



    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 0px;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
	  border-top: 5px solid #5593d7;
    }
    .navbar-right { float:right!important}
	
	/*.navbar-fixed-top, .navbar-fixed-bottom { position:fixed;}*/

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }
	
	.navbar .nav > li > a:hover {background-color:#fff;}

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }



    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
    }
	
	.carousel h2 { font-size:20px; color:#fff; line-height:24px;}

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 450px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 450px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
	  text-align:center;
      padding: 0px;
      margin-top: 100px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }
	
	.safecoin-network-logo {
		background:url(imgs/safecoin-safe-network-white.png) no-repeat 0 0;
		width:250px;
		height:124px;
		margin:0 auto;
		text-align:center;
		text-shadow: 0 1px 1px rgba(0,0,0,.4);
}



    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      /*margin: 80px 0; /* Space out the Bootstrap <hr> more */
	  margin: 80px 0 20px;
    }
    .featurette {
      padding-top: 45px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
	  clear:both;
    }
    .featurette-image {
      margin-top: 0px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
	  margin-bottom:50px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }
	
	/* CUSTOMIZING FORMS
    -------------------------------------------------- */
	
	select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius: 4px;
   
    font-size: 16px;
    height: auto;;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 10px 12px;
	width:360px
}


.anchor-arrows {
	padding:10px;
	width:40px;
	height:80px;
	position:fixed;
	bottom:0px;
	right:0px;
}

.arrow {
	width:25px;
	height:25px;
	display:block;
	margin:10px 0;
  -webkit-border-radius: 2px; 
  -moz-border-radius: 2px; 
  border-radius: 2px; 
}

.up {
	background:#5793d4 url(imgs/arrow_up.png) no-repeat 7px 9px;
}

.down {
	background:#5793d4 url(imgs/arrow_down.png) no-repeat 7px 10px;
}

.up:hover, .down:hover {
	background-color:#29578a;
}


#countdown_dashboard {
	height: 110px;
	width:440px;
	margin:0 auto;
	text-align:center;
}

.dash {
	width: 110px;
	height: 110px;
	float: left;
	margin-left: 0px;
	position: relative;
}

.dash .digit {
	font-size: 80px;
	letter-spacing:-2px;
	font-family: 'OpenSansBold',Arial,sans-serif;
	float: left;
	width: 45px;
	text-align: center;
	color: #fff;
	position: relative;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.dash_title {
	position: absolute;
	text-align:center;
	display: block;
	bottom: 15px;
	left:18px;
	font-size: 9pt;
	text-transform: uppercase;
	letter-spacing: 2px;
	color:rgba(240,240,240,1.00);
}

.sale-text h2 {
	position:relative;
	top:0px;
	font-size:50px;
	left:15px;
	color:#999;
}


.top-info {
	clear:both;
}
.buy {
	float:right;
}

.buy p {
	font-size:18px;
	text-align:right;
	line-height:24px;
	margin-top:10px;
}

a.button {
    background-color:#5593D7;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    border-style: none;
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    
    font-weight: 400;
   
    text-decoration: none;
}

a.button:hover {background-color:#29578a;}

a.btn-med {font-size: 22px;  padding: 10px 15px;}
a.btn-sml { font-size:16px; padding: 7px 23px 9px 23px;}
a.btn-lge { font-size:36px; padding:26px 34px 26px 70px;}

.guide-button {
	float:right;
	clear:both;
	background:#5593D7 url(imgs/buyers-guide-icon.png) no-repeat 18px 15px;
	padding-left:50px;
	margin-right:40px;
	margin-top:100px;
	margin-bottom: 20px;
    margin-left: 40px;
}

.pull-right { clear:both;}

.funds-raised-flag {
	float:right;
	position:relative;
	top:50px;
}
.raised {
	padding:5px 15px 10px 15px;
	font-size:14px;
	color:#ffffff;
	background-color:#5593D7;
	-webkit-border-top-left-radius: 0px;
  	-webkit-border-top-right-radius: 0px;
  	-webkit-border-bottom-right-radius: 8px;
  	-webkit-border-bottom-left-radius: 8px;

  	-moz-border-radius-topleft: 0px;
  	-moz-border-radius-topright: 0px;
  	-moz-border-radius-bottomright: 8px;
  	-moz-border-radius-bottomleft: 8px;

  	border-top-left-radius: 0px;
  	border-top-right-radius: 0px;
  	border-bottom-right-radius: 8px;
  	border-bottom-left-radius: 8px;
}

.sum {
	font-size:32px;
	font-family: 'OpenSansSemiBold', Arial, sans-serif;
	text-align:right;
	margin:5px 0;
}

.last-para {
	margin-bottom:40px;
}

.muted {font-family: 'OpenSansLight', Arial, sans-serif;}

.half-w { width:55%;}

h2 span.safecoin-header-logo {
	background:url(imgs/safecoin-header-logo.png) no-repeat 0 0;
	width:176px;
	height:44px;
	display:inline-block;
}

    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {
		
		.navbar-fixed-top {
			margin-top:12px;
			margin-bottom:0px;
		}
		
		.nav-collapse, .nav-collapse.collapse {
			position:relative;
			top:10px;
		}
		
		.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a { font-weight:normal;}

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }
	  .carousel { margin-top:20px;}
	  .carousel-caption {
		  margin-top:70px;
		 }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }
	  
	  .funds-raised-flag {
	top:0px;
}

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
	  
	  .half-w { width:100%;}
	  
	  .anchor-arrows { width:30px;}
	  
	  .guide-button {
	float:none;
	text-align:center;
	clear:both;
	padding-left:60px;
	 display: block;
    margin: 10px 190px;
	
}


    }


    @media (max-width: 767px) {
		.navbar {
			background-color:#fff;
		}
		
		
      .navbar-inner {
       /* margin: -20px;*/
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 400px;
      }
      .carousel img {
        height: 400px;
      }
      .carousel-caption {
        width: auto;
        padding: 0;
		margin:70px auto 0 auto;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 12px;
      }
	  
	
#countdown_dashboard {
	height: 85px;
	width:260px;
	margin:0 auto;
	text-align:center;
}

.dash {
	width: 65px;
	height: 65px;
	float: left;
	margin-left: 0px;
	position: relative;
}

.dash .digit {
	font-size: 45px;
	letter-spacing:-1px;
	width: 25px;
}

.dash_title {
	bottom: 5px;
	left:5px;
	font-size: 7pt;
	letter-spacing: 1px;
}

a.button {
    border-radius: 3px;
    font-size: 16px;
    padding: 6px 10px 8px 10px;
}

a.btn-med {font-size: 16px;   padding: 6px 10px 8px 10px;}
a.btn-sml { font-size:14px; padding: 4px 8px 5px 8px;}
a.btn-lge { font-size:26px; padding:22px 28px 22px 50px;}

.guide-button {
	float:none;
	text-align:center;
	display:block!important;
	clear:both;
	background:#5593D7 url(imgs/buyers-guide-icon.png) no-repeat 10px 15px;
	background-size:30px 30px;
	padding-left:60px;
	margin:0;
	
	
}

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }
	  
	  .safecoin-network-logo {
		  background-size:150px 74px;
		  width:150px;
		  height:74px;
		 }

    }